// 0 - ignore
// 1 - warn
// 2 - error
{
 "globals": {
   "angular": true,
   "_": true,
   "window": true,
   "$": true,
   "FormData":true,
   "moment":true
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": 1,
    "accessor-pairs": 1,
    "block-scoped-var": 1,
    "consistent-return": 1,
    "default-case": 1,
    "dot-notation": 1,
    "eqeqeq": 1,
    "guard-for-in": 1,
    "no-alert": 1,
    "no-caller": 1,
    "no-console": 0,
    "no-div-regex": 1,
    "no-else-return": 1,
    "no-eq-null": 1,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-extra-semi": 0,
    "no-floating-decimal": 1,
    "no-implied-eval": 1,
    "no-iterator": 1,
    "no-labels": 1,
    "no-lone-blocks": 1,
    "no-multi-spaces": 1,
    "no-multi-str": 1,
    "no-native-reassign": 1,
    "no-new-func": 1,
    "no-new-wrappers": 1,
    "no-new": 1,
    "no-octal-escape": 1,
    "no-octal": 1,
    "no-param-reassign": 1,
    "no-process-env": 1,
    "no-proto": 1,
    "no-redeclare": 1,
    "no-return-assign": 1,
    "no-script-url": 1,
    "no-sequences": 1,
    "no-unused-expressions": [1, {"allowShortCircuit": true }],
    "no-unused-vars": 1,
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-void": 0,
    "no-shadow": 1,
    "no-undefined": 1,
    "no-use-before-define": [1, {"functions": false}],
    "brace-style": 1,
    "max-len": [1, 250],
    "max-lines": [1, 350],
    "max-nested-callbacks": [1, 5],
    "max-params": [1, 6],
    "comma-spacing": 1,
    "no-array-constructor": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-spaced-func": 1,
    "no-trailing-spaces": 1,
    "no-whitespace-before-property": 1,
    "array-callback-return": 1,
    "no-warning-comments": [ 1, {
      "terms": [
        "todo",
        "warning",
        "fixme",
        "hack",
        "xxx"
      ],
      "location": "start"
    }],
    "no-with": 1,
    "radix": 1,
    "vars-on-top": 0,
    "wrap-iife": [ 1, "inside" ]
  }
}
